
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: black;
}

body{
    overflow-x: hidden;
    position: relative;
    width:100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.row{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2vw;
    width: 40vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.row > div{
    background-color: white;
    text-align: left;
    padding: 2vw;
    font-size: 4vw;
    border-radius: 4vw;
    
}
.img1{
    grid-row-start: 1;
    grid-row-end: 2;
}

.img2{
    grid-row-start: 1;
    grid-row-end: 3;
}
.img3{
    grid-column: 1;
    grid-template-columns: auto;

}
.img4{
    grid-column: 1 / span 3;
}