* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    position: relative;
}

@font-face {
    font-family:'AmazonEmber';
    src: url('Ember/AmazonEmber_Rg.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AmazonEmber';
    src: url('Ember/AmazonEmber_Bd.ttf') format('truetype');
    font-weight: bold; 
    font-style: normal;
}
@font-face {
    font-family: 'AmazonEmber'; 
    src: url('Ember/AmazonEmber_Lt.ttf') format('truetype'); 
    font-weight: light; 
    font-style: normal;
}

p {
  font-family: 'AmazonEmber', sans-serif;
  font-weight: normal; 
}

.parrafo-bold {
    
  font-family: 'AmazonEmber', sans-serif;
      font-weight: bold;
}

.parrafo-light {
      font-family: 'AmazonEmber', sans-serif;
      font-weight: light;
}

.fondo1{
      top: 0px;
      left: 2px;
      width: 1918px;
      height: 4149px;
      background: transparent url('../Dia4/img/Path\ 1.svg') 0% 0% no-repeat padding-box;
      border: 1px solid #707070;
      opacity: 1;
      background: url(/Dia4/img/Path\ 1.svg) 0% 0% no-repeat padding-box;
      position: fixed;
}

.fondo_principal{
      top: 0px;
      left: 0px;
      width: 1920px;
      height: 1080px;
      background: url('../Dia4/img/FondoTwitch.png') 0% 0% no-repeat padding-box;
      opacity: 0.35;
       border: 1px solid #707070;
}
.lupa{
      top: 37px;
left: 63px;
width: 36px;
height: 36px;
background: transparent url('/Dia4/img/Icon\ awesome-search.svg') 0% 0% no-repeat padding-box;
opacity: 1;
position: absolute;
}

.login{
top: 69px;
left: 1695px;
width: 70px;
height: 30px;
border-radius: 52px 52px 52px 52px;
background-image: url(/Dia4/img/Path\ 1.svg) 0% 0% no-repeat padding-box;
opacity: 1;
background-color: white;
position: absolute;
border: 1px solid 707070;

}

.lgprime{
top: 227px;
left: 682px;
width: 556px;
height: 313px;
background:transparent url(/Dia4/img/LogoPrimeE2.png) 0% 0% no-repeat padding-box;
position: absolute;
opacity: 1;
}

.texto1{
    top: 517px;
    left: 389px;
    width: 1151px;
    height: 60px;
    color: #FFFFFF;
    font-size: 60px;
    text-align: center;
    position: absolute;
    font-family: 'Amazon Ember', Bold;
}

.texto2{
          top: 608px;
    left: 380px;
    width: 1160px;
    height: 102px;
    color: #ffffff8c;
    font-size: 30px;
    text-align: center;
    position: absolute;
    font-family: 'Amazon Ember', Light;
    line-height: 36px;
}

.sing{
top: 887px;
left: 780px;
width: 260px;
height: 80px;
border-radius: 50px;
opacity: 1;
position: absolute;
background-color: #FFFFFF;
}

.grupo1{
    top: 1106px;
    left: 64px;
    width: 1792px;
    height: 567px;
    border-radius: 108px 108px 108px 108px;
    background-color: #00A8E1;
    position: absolute;
}

.grupo2{
      top: 1080px;
    left: 400px;
    width: 1200px;
    height: 60px;
    color: #FFFFFF;
    font-size: 60px;
    text-align: left;
    position: absolute;
    
}

.tv{
      top: 180px;
    left: 500px;
    width: 280px;
    height: 309px;
    background: transparent url('/Dia4/img/tvazul.PNG') 0% 0% no-repeat padding-box;
    position: absolute;
    
}

.grupo3{
top: 1699px;
    left: 64px;
    width: 1792px;
    height: 767px;
    border-radius: 108px 108px 108px 108px;
    background-color: #00A8E1;
    position: absolute;  
}

.grupo4{
      top: 1680px;
    left: 400px;
    width: 1200px;
    height: 60px;
    color: #FFFFFF;
    font-size: 60px;
    text-align: left;
    position: absolute; 
}

.peliculas{
      left: 300px;
      width: 510px;
      top: 220px;
      height: 180px;
      background: url(/Dia4/img/peliculas.PNG);
      position: absolute;
}

.grupo5{
          top: 2500px;
    left: 64px;
    width: 1792px;
    height: 567px;
    border-radius: 108px 108px 108px 108px;
    background-color: #00A8E1;
    position: absolute;
}

.grupo6{
      top: 2500px;
    left: 400px;
    width: 1200px;
    height: 60px;
    color: #FFFFFF;
    font-size: 60px;
    text-align: left;
    position: absolute; 
}

.x{
      top: 200px;
    left: 400px;
    width: 170px;
    height: 169px;
      background: url(/Dia4/img/Icon\ metro-cancel.svg);
      position: absolute;
}

.grupo7{
      top: 3060px;
    left: 400px;
    width: 1700px;
    height: 169px;
    color: #FFFFFF;
    font-size: 80px;
    text-align: left;
    position: absolute; 
}

.grupo8{
      top: 3290px;
    left: 20px;
    width: 1600px;
    height: 169px;
    color: white;
    font-size: 40px;
    text-align: center;
    position: absolute;
    font-family: 'Amazon Ember', Light;
    line-height: 36px;
}

.grupo9{
      background: url(/Dia4/img/dispos.PNG);
      top: 3590px;
    left: 450px;
    width: 810px;
    height: 260px;
     position: absolute;
}