* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    position: relative;
}

.fondo{
    top: 0px;
    left: 2px;
    width: 1918px;
    height: 4149px;
    background-color: black;
    opacity: 1;
    position: absolute;
}

.logo{
    top: 0px;
    left: 80px;
    width: 1918px;
    height: 4149px;
    color: white;
    position: absolute;
}

.home{
    top: 0px;
    left: 470px;
    width: 1918px;
    height: 4149px;
    color: white;
    position: absolute;
}

.about{
    top: 0px;
    left: 530px;
    width: 1918px;
    height: 4149px;
    color: white;
    position: absolute;
}

.menu{
    top: 0px;
    left: 590px;
    width: 1918px;
    height: 4149px;
    color: white;
    position: absolute; 
}

.contact{
    top: 0px;
    left: 650px;
    width: 1918px;
    height: 4149px;
    color: white;
    position: absolute; 
}

.texto1{
    top: 80px;
    left: 130px;
    width: 1918px;
    height: 4149px;
    color: white;
    position: absolute; 
    font-size: 50px;  
}

.cafe1{
    top: 200px;
    left: 200px;
    width: 200px;
    height: 200px;
    background: transparent url('./../img/3.png');
    position: relative; 
    opacity: 1;
    background-size: cover;
}

.texto2{
    top: 500px;
    left: 120px;
    width: 1918px;
    height: 4149px;
    color: white;
    position: absolute; 
    font-size: 50px;  
}

.shop{
    top: 580px;
    left: 260px;
    width: 120px;
    height: 41px;
    color: black;
    position: absolute; 
    font-size: 20px; 
    background-color: darkgoldenrod;
    text-align: center;
    align-content: center;
}

.cafe2{
    top:  650px;
    left: -40px;
    width: 270px;
    height: 250px;
    background: transparent url(./../img/pexels-chitokan-2183027-removebg-preview.png);
    position: relative;
    opacity: 1;
    background-size: cover;
}

.titulo2{
    top:  900px;
    left: 630px;
    width: 430px;
    height: 150px;
    position: absolute;
    color: white;
    font-size: 60px;
}

.texto3{
    top: 980px;
    left: 630px;
    width: 540px;
    height: 150px;
    position: absolute;
    color: white;
    font-size: 20px;
}

.learn{
    top: 1060px;
    left: 630px;
    width: 150px;
    height: 40px;
    position: absolute;
    background-color: darkgoldenrod;
    text-align: center;
    align-content: center;
}

.titulo3{
    top: 1260px;
    left: 120px;
    width: 380px;
    height: 0px;
    position: absolute;
    color: white;
    font-size: 40px;
}

.texto4{
    top: 1430px;
    left: 120px;
    width: 380px;
    height: 0px;
    color: white;
    position: absolute;
}

.cafe3{
    top: 1300px;
    left: 690px;
    width: 180px;
    height: 200px;
    background: transparent url(./../img/2.png);
    position: absolute;
    background-size: cover;
}

.learn2{
    top: 1470px;
    left: 130px;
    width: 140px;
    height: 50px;
    background-color: darkgoldenrod;
    position: absolute;
    align-content: center;
    text-align: center;
}

.titulo4{
    top: 1700px;
    left: 130px;
    width: 180px;
    height: 200px;
    position: absolute;
    color: white;
    font-size: 60px;
}

table,
th,
td{
    border: 2px solid darkgoldenrod;
    border-collapse: collapse;
}

.mocha{
    top: 2000px;
    left: 100px;
    width: 680px;
    height: 400px;
    position: absolute;
    color: white;
    background-size: cover;
    text-align: center;
    align-content: center;
}

.more{
    top: 500px;
    left: 110px;
    width: 180px;
    height: 40px;
    position: absolute;
    background-color: darkgoldenrod;
    color: black;
    text-align: center;
    align-content: center;
}

.cafe4{
    top: -60px;
    left: 90px;
    width: 210px;
    height: 210px;
    background: transparent url(./../img/1.png);
    position: absolute;
    background-size: cover;
    opacity: 1;
}