* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'AmazonEmber';
    src: url('Ember/AmazonEmber_Bd.ttf') format('truetype');
    font-weight: bold; 
    font-style: normal;
}

p {
    font-family: 'AmazonEmber', sans-serif;
    font-weight: normal; 
}

body {
    overflow-x: hidden;
    position: relative;
}

.fondo{
    top: 0px;
    left: 0px;
    width: 884px;
    height: 497px;
    background-color: white;
    position: absolute;
    opacity: 1;
 
}

.LogoM{
    top: 0px;
    left: 0px;
    width: 150px;
    height: 44px;
    background: transparent url(./../img/Metrolinea.PNG);
    opacity: 1;
    position: absolute;
}

.comprartarjeta{
    top: 15px;
    left: 450px;
    width: 150px;
    height: 44px;
    opacity: 1;
    position: absolute;
}

.ver{
    top: 15px;
    left: 580px;
    width: 150px;
    height: 44px;
    opacity: 1;
    position: absolute;  
}

.lupa{
    top: 5px;
    left: 650px;
    width: 30px;
    height: 44px;
    background: transparent url(./../img/LupaM.PNG);
    opacity: 1;
    position: absolute; 
}

.carro{
    top: 5px;
    left: 700px;
    width: 30px;
    height: 44px;
    background: transparent url(./../img/ShopM.PNG);
    opacity: 1;
    position: absolute; 
}

.tarjeta{
    top: 120px;
    left: 250px;
    width: 250px;
    height: 150px;
    background: transparent url(./../img/tarjeta_metrolinea.PNG);
    opacity: 1;
    position: absolute;
}

.texto1{
    top: 350px;
    left: 50px;
    width: 750px;
    height: 180px;
    font-size: 30px;
    position: absolute;
    line-height: 36px;
}

.precio{
    top: 380px;
    left: 50px;
    width: 450px;
    height: 180px;
    font-size: 20px;
    position: absolute;
    line-height: 36px;
}

.comprar{
    top: 50px;
    left: 20px;
    width: 450px;
    height: 180px;
    font-size: 20px;
    position: absolute;
    line-height: 36px;
}

.logom{
    top: 30px;
    left: 0px;
    width: 130px;
    height: 20px;
    font-size: 5px;
    position: absolute;
    background: transparent url(./../img/Logometrolinea.png);
}
.cuadro{
    top: 317px;
    left: 640px;
    width: 130px;
    height: 104px;
    border-radius: 8px;
    background-color: #D5FF43;
    position: absolute;
}

.cuadroN{
    top: 0px;
    left: 774px;
    width: 110px;
    height: 497px;
    border-radius: 0px 8px 8px 0px;
    background-color:#212020;
    position: absolute;
}

.numeros{
    color: white;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
}