*{
    background-color: black;
}


.bernie{
    position: relative;
    background: url(./../img/bernie.png);
    height: 200px;
    width: 99px;
    background-size: cover;
    bottom: 30vw;
    animation: movimiento 2s steps(5) infinite;
    margin: auto;
}

@keyframes movimiento{
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: 10000px;
    }
}

.cielo{
    margin: 0;
    image-rendering: pixelated;
    position: relative;
    background: url(./../img/cielo.png);
    height: 20vw;
    width: 119vw;
    background-size: cover;
    bottom: 0vw;
    animation: movimiento 2s steps(4) infinite;
}

.puente{
    margin: 0;
    image-rendering: pixelated;
    position: relative;
    background: url(./../img/puente.png);
    height: 26vw;
    width: 100vw;
    background-size: cover;
    bottom: 0vw;
    animation: movimiento 1s steps(3) infinite;

}

